@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,800&display=swap');

:root {
  /* COLORS */
  /* Primary */
  --purple: hsl(259, 100%, 65%);
  --purple-light: hsla(259, 100%, 65%, 0.5);
  --light-red: hsl(0, 100%, 67%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);

  /* FONT SIZE (INPUTS)*/
  --font-size: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  body {
    align-items: flex-start;
    padding-top: 6em;
  }
}

